/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
    margin: 0;
}

div.content {
    height: 100%;
    width: 80%;
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    /* Grid for development
    border-left: 1px outset #013953;
    border-right:1px inset #013953;
    */
}

div.header {
    width: 100.2%;
    margin-left: -0.1%;
    height: 1.5em;
    border-bottom: 1px inset #013953;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    list-style: none;
    background: #014464;  
    background: -moz-linear-gradient(top, #013953, #0272a7);  
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#013953), to(#0272a7));
}

div.header ul {
    padding: 0;
    margin: 0;
    position: relative;
    width: 98%;
    left: 1%;
    list-style: none;
}

div.header ul div li {
    display: block;
    position: relative;
    padding: 0px 25px;
    text-align: center;
}

div.header ul div li:hover {
    border-radius: 5px 5px 0px 0px;
    text-decoration: none;
}

div.header ul div.left_menu li {
    float: left;
}

div.header ul div.right_menu li {
    float: right;
}

div.header ul div li ul {
    position: absolute;
    display: none;
    text-align: center;
    margin: 0;
}

div.header ul div li {
	z-index: 3;
	margin: 0;
}

div.header ul div li a {
    color: #eee;
    text-decoration: none;
    margin: 0l
}

div.header ul div li:hover ul {
    top: auto;
    display: block;  
    background: #0272a7;   
    border-radius: 0px 0px 5px 5px;
    text-decoration: none;
    margin: 0;
}

div.header ul div li ul li {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    z-index: 3;
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
}

div.footer {
    position: absolute;
    bottom: 0;
    width: 100.2%;
    margin-left: -0.1%;
    color: #eee;  
    border-top: 1px outset #013953;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    background: #014464;  
    background: -moz-linear-gradient(top, #0272a7, #013953);  
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#013953));
}

div.footer a {
	color: #eee;
	text-decoration: none;
}

div.content div h2 {
	text-align: center;
	font-size: 120%;
	color: #025982;
	margin: 0;
}

div.content div h3 {
	color: #0270A3;
	font-size: 100%;
	padding-left: 5px;
}

div.content div.right {
	margin-left: -1px;
	position: absolute;
	top: 5%;
	height: 90%;
	float: right;
	width: 48%;
	border-radius: 10px;
	border-top: 1px outset #013953;
	border-bottom: 1px inset #013953;
	border-left: 1px outset #013953;
	border-right: 1px inset #013953;
	left: 52%;
	text-align: justify;
	font-size: 90%;
	overflow: auto;
}

div.content div.right p {
    padding-left: 15px;
    padding-right: 15px;
}

div.content div.upper_left_small {
	position: absolute;
	top: 5%;
	height: 25%;
	width: 48%;
	margin-left: -1px;
	border-radius: 10px;
	border-top: 1px outset #013953;
	border-bottom: 1px inset #013953;
	border-right: 1px inset #013953;
	border-left: 1px outset #013953;
	overflow: auto;
}

div.content div.lower_left_large {
	position: absolute;
	top: 32%;
	height: 63%;
	width: 48%;
	margin-left: -1px;
	border-radius: 10px;
	border-top: 1px outset #013953;
	border-bottom: 1px inset #013953;
	border-right: 1px inset #013953;
	border-left: 1px outset #013953;
	overflow: auto;
}

div.content div.lower_left_large ul li {
    padding-right: 15px;
    font-size: 90%;
    text-align: justify;
}

div.form_row {
  	clear: both;
  	padding-top: 5px;
  	width: 80%;
  	margin-left: 10%;
}

div.form_row span.label {
	position: relative;
  	float: left;
  	width: 40%;
  	text-align: right;
}

div.form_row span.input {
	position: relative;
  	float: right;
  	width: 50%;
  	text-align: left;
} 

div.syntaxhighlighter table caption {
    color: #0272A6 !important;
    font-style: italic !important;
}

div.content div.right div.text_example_outer {
    height: 15%;
    position: relative;
}

div.content div.right div.text_example_inner {
    position: absolute;
    top: 25%;
    text-align: justify;
}

div.content div.middle_wide {
    overflow: auto;
    position: absolute;
    top: 38.25%;
    width: 100%;
    margin: -1px;
    border-radius: 10px;
    border-top: 1px outset #013953;
    border-bottom: 1px inset #013953;
    border-right: 1px inset #013953;
    border-left: 1px outset #013953;
    vertical-align: middle;
    padding-top:2%;
    padding-bottom:2%;
    height:16%;    
}

div.content div.middle_wide h2 {
    margin-top: -1.5%;
}